{% extends "base.html" %}

{% block title %}Diabetes Backend{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		
		<ul class="nav navbar-nav">
		 
		  
		  <li ><a href="/backheartdata">Backend Heart Disease </a></li>
		  <li class="active"><a href="/backdiabetesdata">Backend Diabetes</a></li>
		  <li><a href="/backendbmidata">Backend BMI</a></li>
		 
</ul>
</div>
	</nav>


<style>


div.ex3 {
	background-image:url("{{ url_for('static', filename='diabetes_2.jpg') }}");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
#responsive-image {  width: 90%;  height: auto;
padding-left:10px }
</style>

<img src="/static/backdiabetes/112.png" id="responsive-image">



<div class="ex3 " >



  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>





<p style="text-align:center;">
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
		<span style="font-size:22px";>Importing Libraries </span> </a>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
				<img src="/static/backdiabetes/2.png" id="responsive-image"><br>
					<p style="text-align:center; font-size: 20px;">
					Figure 1: Importing Different Libraries
					</p>
		  	</div>
		</div>
</p>

<p style="text-align:center;">
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
		<span style="font-size:22px";>Reading Dataset  </span></a>
		<div class="collapse" id="collapseExample1">
			<div class="card card-body">
				<img src="/static/backdiabetes/3.png" id="responsive-image"><br>
					<p style="text-align:center; font-size: 20px;">
					Figure 2: Reading Dataset Using Pandas
					</p>
				</div>
		</div>
</p>

<p style="text-align:center;">
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
		<span style="font-size:22px";>Choosing Columns</span>  </a>
		<div class="collapse" id="collapseExample3">
			<div class="card card-body">
				<img src="/static/backdiabetes/4.png" id="responsive-image"><br>
					<p style="text-align:center; font-size: 20px;">
					Figure 3: Choosing Columns for Machine Learning Algorithm
					</p>
		  	</div>
		</div>
</p>

<p style="text-align:center;">
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
		<span style="font-size:22px";>Splitting Dataset</span>  </a>
		<div class="collapse" id="collapseExample4">
			<div class="card card-body">
				<img src="{{ url_for('static', filename='backdiabetes/5.png') }}" id="responsive-image"><br>
					<p style="text-align:center; font-size: 20px;">
					Figure 4: Splitting Dataset for Applying Machine Learning Algorithm
					</p>
		  	</div>
		</div>
</p>


</div>



<div class="ex3 ">
<p style="text-align:center; font-size: 35px;">
					<b>Choosing Best Machine Learning Algorithm Based on Accuracy Score</b>
					</p>
					<img id="image" src="/static/backdiabetes/mlalgo.jpg" /><br>
					<p style="text-align:center;">
<select id="AlgoList">
	<option value="/static/backdiabetes/mlalgo.jpg">header</option>
    <option value="/static/backdiabetes/LRalgo.png">Logistic Regression</option>
    <option value="/static/backdiabetes/KNCalgo.png">KNeighbors Classifier</option>
    <option value="/static/backdiabetes/RFCalgo.png">Random Forest Classifier</option>
	 <option value="/static/backdiabetes/DTCalgo.png">Decision Tree Classifier</option>
    <option value="/static/backdiabetes/SVMalgo.png">Support Vector Machine</option>
		 <option value="/static/backdiabetes/NBalgo.png">Naive Bayes Classifier</option>
  
</select></p>

<p style="text-align:center; font-size: 25px;">
					<b>So The best Algorithm based on Accuracy Score is Decision Tree Classifier
					</b>
					</p>




<script>
function setalgo() {
    var img = document.getElementById("image");
    img.src = this.value;
    return false;
}
document.getElementById("AlgoList").onchange = setalgo;
</script>

 </div>
{% endblock %}
