{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}

	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<style> 
.fa {  
	  padding: 20px;  
	text-align: center;  
	  margin: 5px 2px;  
	  font-size: 30px;  
	  width: 50px;  
	}  
.fa-facebook 
	{  
	  background: #3B5998;  
	  color: white;  
	}  

.fa-linkedin
	{  
	  background: #007bb5;  
	  color: white;  
	}  
.fa-instagram 
	{  
	  background: #125688;  
	  color: white;  
	}  
  
.fa:hover
	{  
		opacity: 0.9;  
	}  
#leftbox 
	{
		float:left; 
        width:50%;
    }
#rightbox
	{
		
        float:right;
        width:50%;
    }
			
div.ex2 
	{
		padding: 5px;
	}
  
div.ex4 
	{
		background-image:url("{{ url_for('static', filename='contact2.jpg') }}");
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: 100% 100%;
	}
img 
	{
		text-align: center;
	}
.center 
	{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	 
	}
h2 
	{
		text-align: center;
		}
p 	
	{
		text-align: center;
		}

mark{ background-color:red;}

	
    </style>
  <!--
h2 {text-align: center;}
p {text-align: center;}

	mark{ background-color:red;}-->	
<div class="ex2 ex4" >
 
	<h1 style="color: white ;"><b>TEAM</b></h1> 

  
    <div id = "leftbox" class="ex4"  >
            <h2 style="color: white ;">Anmol Nagpal </h2>
           	<img src="/static/anmol_pic2.jpg", width= "200px", length=" 400px" class="center"></img>
            <p style="color: white ;"><mark>Python Developer</mark></p>
             <a href="https://www.linkedin.com/in/anmolnagpal28/" class="fa fa-linkedin center"></a>
			 <a href="https://www.facebook.com/anmol.nagpal.5494/" class="fa fa-facebook center"> </a>   
			 <a href="https://www.instagram.com/anmol28.an/" class="fa fa-instagram center"> </a>  
			  
	</div> 
	
	
	
	<div id = "rightbox" class="ex4">
	

			<h2 style="color: white ;">Jagisha Luther </h2>
            <img src="/static/jagisha2.jpeg", width= "200px", length=" 400px" class="center"> </img>
            <p style="color: white ;" ><mark>Python Developer</mark></p>
          
            <a href="https://www.linkedin.com/in/jagisha-luther-44285718a/" class="fa fa-linkedin center"></a>
			<a href="#" class="fa fa-facebook center"> </a> 
			 <a href="#" class="fa fa-instagram center"> </a> 
    </div>
	 
	 
	 
	 
	 
	 <!--
	  <h2 style="color: white ;">Anmol Nagpal </h2>
           	<img src="/static/Anmol_pi_wobg.png", width= "200px", length=" 400px"  alt="Paris" class="center"></img>
            <p style="color: white ;"><mark>Python Developer</mark></p>
            <li> <a href="https://www.linkedin.com/in/anmolnagpal28/" class="fa fa-linkedin"></a></li>
			<li> <a href="https://www.facebook.com/anmol.nagpal.5494/" class="fa fa-facebook"> </a>  </li>  
			<li> <a href="https://www.instagram.com/anmol28.an/" class="fa fa-instagram"> </a> </li>  
	 -->
	 
</div>

{% endblock %}
