<!doctype html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	
	{% block content %}
	
	{% endblock %}
	
	
	
<div class="w3-container w3-teal">


		<div class="row">
        <div class="col-md-1">  <img src="https://i.pinimg.com/originals/4a/04/b6/4a04b63e89aa075d733c4d38537e1600.png"  style="width:90px;height:100px;"/> </div>
	 	<div class="col-md-5">   <h2 class="text-white"> Health Care Application<b>   Prediction </b> </h4> </div>
	 	<div class="col-md-3"> <h4> Important Links </h4> 
	 	 
	  
	 	<div class="col-md-3"> <a href="/demo"><h4 class="text-white"> Contact Information </h4></a>
	 	

</div>
        </div>
	<div class="row bg-green text-center text-white pt-2 pb-2">
		<div class="col-12"> <p> 2021 HCA. All Rights Reserved.</p> 
		</div>
		</div>

</div>
	
		
</body>
</html>