{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



	<style>

div.ex4 {
	background-image:url("{{ url_for('static', filename='background_7.jpg') }}");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#responsive-image {  width: 100%;  height: auto; } 

div.ex2 {
  
  padding: 15px;
  
}

</style>

<img src="/static/about_1.png" id="responsive-image">
<div class="ex2" style="background-color:#F2F0EF ">
<!--<div>
<div class="ex4" style="color:white"  >-->
    <h2><b><u>About This Application</u></b></h2>
        <b> <div style="font-size: 20px;"> This is a health care application developed to predict heart disease, 
											diabetes, heart failure chances , different disease from symptoms and bmi 
											of a person.
											It is an application made by using Python, Flask, HTML, CSS and Machine Learning
		</b></div>
 
    <h2><b><u>Various Python Libraries Used</u>  </b></h2>
		<div style="font-size: 18px;"><ol>
			<div class="row">
				<div class="col-sm-8">
					
						<li>
							<b>numpy</b>:- NumPy is a general-purpose array-processing package. 
							It provides a high-performance multidimensional array object, and tools 
							for working with these arrays.
							It is the fundamental package for scientific computing with Python.
							It contains various features including these important ones:
							<ul>
								<li>A powerful N-dimensional array object</li>
								<li>Sophisticated (broadcasting) functions</li>
								<li>Tools for integrating C/C++ and Fortran code</li>
								<li>Useful linear algebra, Fourier transform, and random number capabilities</li>
							</ul>
							Besides its obvious scientific uses, NumPy can also be used as an 
							efficient multi-dimensional container of generic data.
							Arbitrary data-types can be defined using Numpy which allows NumPy 
							to seamlessly and speedily integrate with a wide variety of databases.<br>
						</li>
				</div>
				<div class="col-sm-4"><img src="/static/numpy.png" id="responsive-image"><br><br>
				</div>
				<br><br><br><br>
				
				<div class="col-sm-8">	
					<li><b>pandas</b>:- Pandas is an open-source library that is built on top of NumPy library. 
					It is a Python package that offers various data structures and operations for manipulating numerical data and time series. 
					It is mainly popular for importing and analyzing data much easier. 
					Pandas is fast and it has high-performance & productivity for users.
					It contains various features including these important ones:
							<ul>
								<li>Used for reshaping and pivoting of the data sets.</li>
								<li>It integrates with the other libraries such as SciPy, and scikit-learn.</li>
								<li>Provide the functionality of Time Series.</li>
								<li>Handle multiple operations of the data sets such as subsetting, slicing, filtering,
								groupBy, re-ordering, and re-shaping.</li>
							</ul>
					</li>
				</div>
				<div class="col-sm-4"><img src="/static/pandas.png" id="responsive-image"><br>
				</div>
				
				
				<br>
				<br><br><br>
				<div class="col-sm-8">	
					<li><b>Matplotlib</b>:- Matplotlib is one of the most popular Python packages used for data visualization.
					It is a cross-platform library for making 2D plots from data in arrays.
					It provides an object-oriented API that helps in embedding plots in applications using
					Python GUI toolkits such as PyQt, WxPythonotTkinter. It can be used in Python and IPython shells, 
					Jupyter notebook and web application servers also.
					It contains various features including these important ones:
							<ul>
								<li>Semantic way to generate complex, subplot grids</li>
								<li>Colored labels in legends</li>
								<li>rcParams can be passed as Decorators</li>
								<li>3D plots now support minor ticks</li>
							</ul>
					</li>
				</div>
				<div class="col-sm-4"><img src="/static/matplotlib.png" id="responsive-image"><br>
				</div>
				
				
				<div class="col-sm-8">	
					<li><b>Seaborn</b>:- Seaborn is built on top of Python’s core visualization library Matplotlib.
					It is meant to serve as a complement, and not a replacement.However, Seaborn comes with some very 
					important features. The features help us in −
							<ul>
								<li>Built in themes for styling matplotlib graphics</li>
								<li>Visualizing univariate and bivariate data</li>
								<li>Fitting in and visualizing linear regression models</li>
								<li>Seaborn works well with NumPy and Pandas data structures</li>
								<li>Plotting statistical time series data</li>
								<li>It comes with built in themes for styling Matplotlib graphics</li>
							</ul>
					</li>
				</div>
				<div class="col-sm-4"><img src="/static/seaborn.jpeg" id="responsive-image"><br>
				</div>
				
				<div class="col-sm-8"><li>	
					<b>scikit-Learn</b>:- scikit-learn is an open source Python library that implements 
												a range of machine learning, pre-processing, cross-validation 
												and visualization algorithms using a unified interface.
												Important features of scikit-learn:
						<ul>
							<li>Simple and efficient tools for data mining and data analysis.
								It features various classification, regression and clustering 
								algorithms including support vector machines, random forests, 
								gradient boosting, k-means, etc.
							</li>
							<li>Accessible to everybody and reusable in various contexts.</li>
							<li>Built on the top of NumPy, SciPy, and matplotlib.</li>
							<li>Open source, commercially usable – BSD license.</li>
						</ul>
					</li>
				</div>
				<div class="col-sm-4"><img src="/static/sklearn.png" id="responsive-image"></div>
				</div>
					
					</ol>
		</div>
				
	 <h2><b><u>Various other tools used </u> </b></h2>
		<div style="font-size: 20px;"><ol>
		<div class="row">
				<div class="col-sm-8">
		
            <li><b>Flask</b>:-Flask is an API of Python that allows us 
				to build up web-applications. It was developed by Armin Ronacher. 
				Flask’s framework is more explicit than Django’s framework and 
				is also easier to learn because it has less base code to implement
				a simple web-Application. A Web-Application Framework or Web Framework
				is the collection of modules and libraries that helps the developer to 
				write applications without writing the low-level codes such as protocols,
				thread management, etc. 
				<br>
				Some features which make Flask an ideal framework for web application development are:
					<ul>
						<li>Flask provides a development server and a debugger.</li>
						<li>It uses Jinja2 templates.</li>
						<li>It is compliant with WSGI(Web Server Gateway Interface) 1.0.</li>
						<li>It provides integrated support for unit testing.</li>
						<li>Many extensions are available for Flask, which can be used to enhance its functionalities.</li>
					</ul>
			</li></div>
				<div class="col-sm-4"><img src="/static/flask.png" id="responsive-image"></div>
				
				
				
				
				<div class="col-sm-8">
				<li><b>HTML</b>:-HTML stands for HyperText Markup Language. 
				It is used to design web pages using a markup language. 
				HTML is the combination of Hypertext and Markup language. 
				Hypertext defines the link between the web pages. 
				A markup language is used to define the text document within tag 
				which defines the structure of web pages.
				Important features of HTML:
						<ul>
							<li>It is easy to learn and easy to use.
							</li>
							<li>It is platform-independent.</li>
							<li>Images, videos, and audio can be added to a web page.</li>
							<li>Hypertext can be added to text.</li>
						</ul>
				
				</li>
				</div>
				<div class="col-sm-4"><img src="/static/html.png" id="responsive-image"></div>
				
				<div class="col-sm-8">
				<li><b>Sqlite3</b>:-SQLite3 is a compact free database you can use 
				easily create and use a database. Though SQLite3 is not a full-featured
				database, it supports a surprisingly large set of the SQL standard, 
				and is ideal for those just starting to learn SQL as well for developers
				that need a simple database engine to plug into their applications. 
				As such, SQLite has become very popular with smart phone developers.
				
				<ul>
							<li>SQLite is totally free: SQLite is open-source. So, no license is required to work with it.</li>
							<li>SQLite is very flexible: It facilitates you to work on multiple databases on the same 
								session on the same time.</li>
							<li>Storing data is easy: SQLite provides an efficient way to store data.</li>
							<li>SQLite is serverless: SQLite doesn't require a different server process or system to operate.</li>
						</ul>
				
				</li>
				</div>
				<div class="col-sm-4"><img src="/static/sqlite.png" id="responsive-image"></div>
				</div>	
					
  </div>
{% endblock %}