{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
	<style>

div.ex4 {
	background-image:url("{{ url_for('static', filename='background_7.jpg') }}");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#responsive-image {  width: 100%;  height: auto; } 

</style>

<img src="/static/about_1.png" id="responsive-image>

<div>
<div class="ex4" style="color:white"  >
    <h2><b>About Us</b></h2>
        <b> <div style="font-size: 20px;"> This is a health care application developed to predict heart disease, diabetes, heart failure chances , different disease from symptoms
		and bmi of a person.
		It is an application made by using Python, Flask, HTML, CSS and Machine Learning
</b></div>
 
    <h2><b>Various Python Libraries Used  </b></h2>
		<div style="font-size: 20px;">
            <ol><li><b>numpy</b>:- NumPy is a general-purpose array-processing package. 
				It provides a high-performance multidimensional array object, and tools for working with these arrays.
				It is the fundamental package for scientific computing with Python.
				It contains various features including these important ones:
				<ul><li>A powerful N-dimensional array object</li>
					<li>Sophisticated (broadcasting) functions</li>
					<li>Tools for integrating C/C++ and Fortran code</li>
					<li>Useful linear algebra, Fourier transform, and random number capabilities</li></ul>
				Besides its obvious scientific uses, NumPy can also be used as an efficient multi-dimensional container of generic data.
				Arbitrary data-types can be defined using Numpy which allows NumPy to seamlessly and speedily integrate with a wide variety of databases.</li>
					
				<li><b>pandas</b>:- Pandas is an open-source library that is built on top of NumPy library. 
				It is a Python package that offers various data structures and operations for manipulating numerical data and time series. 
				It is mainly popular for importing and analyzing data much easier. 
				Pandas is fast and it has high-performance & productivity for users.</li>

				<li><b>scikit-Learn</b>:- scikit-learn is an open source Python library that implements a range of machine learning, pre-processing, cross-validation and visualization algorithms using a unified interface.
				Important features of scikit-learn:
				<ul><li>Simple and efficient tools for data mining and data analysis.
					It features various classification, regression and clustering 
					algorithms including support vector machines, random forests, 
					gradient boosting, k-means, etc.</li>
					<li>Accessible to everybody and reusable in various contexts.</li>
					<li>Built on the top of NumPy, SciPy, and matplotlib.</li>
					<li>Open source, commercially usable – BSD license.</li></ul></li>
					
				</ol></div>
				
	 <h2><b>Various other tools used  </b></h2>
		<div style="font-size: 20px;">
            <ol><li><b>Flask</b>:-Flask is an API of Python that allows us 
				to build up web-applications. It was developed by Armin Ronacher. 
				Flask’s framework is more explicit than Django’s framework and 
				is also easier to learn because it has less base code to implement
				a simple web-Application. A Web-Application Framework or Web Framework
				is the collection of modules and libraries that helps the developer to 
				write applications without writing the low-level codes such as protocols,
				thread management, etc. Flask is based on WSGI(Web Server Gateway 
				Interface) toolkit and Jinja2 template engine.</li>
				
				<li><b>HTML</b>:-HTML stands for HyperText Markup Language. 
				It is used to design web pages using a markup language. 
				HTML is the combination of Hypertext and Markup language. 
				Hypertext defines the link between the web pages. 
				A markup language is used to define the text document within tag 
				which defines the structure of web pages.</li>
				
				<li><b>Sqlite3</b>:-SQLite3 is a compact free database you can use 
				easily create and use a database. Though SQLite3 is not a full-featured
				database, it supports a surprisingly large set of the SQL standard, 
				and is ideal for those just starting to learn SQL as well for developers
				that need a simple database engine to plug into their applications. 
				As such, SQLite has become very popular with smart phone developers.</li>
					
					
  
{% endblock %}